In [1]:
#importing pandas library and naming it as pd, numpy as np
import pandas as pd
import numpy as np

In [2]:
#reading the dataset from the url and saving it as dataframe, df...
df = pd.read_csv(r"https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv")

In [3]:
#Printing the dataframe
df

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680

**Question 1
If you're give two lists:
A=[1,2,3,4,5,6], B=[13,21,34]
The task is to create a list with the elements of A and B in a single dimension with the output:
A_B=[1,2,3,4,5,6,13,21,34]
Which of the following option is the best way to create this list?

**Ans=A.extend(B)**

**Question 2
How do you create an identity matrix in Python?

**Ans= np.identity(3)**

In [4]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

**Question 3
Which of the followng fuel type code has the lowest average fuel cost per unit burned?**

**Ans= Gas**

In [5]:
#Creating a GroupBy series with the column fuel type code
fueltype_grp1 = df.groupby("fuel_type_code_pudl")

In [28]:
#Using the GroupBy series above, iterate with column "fuel cost per unit burned".. 
fueltype_grp1["fuel_cost_per_unit_burned"].mean() #Using the mean() function
fueltype_grp1["fuel_cost_per_unit_burned"].mean().sort_values(ascending=True) #Using the sort_values() function

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

**Question 4
What is the standard deviation and 75th percentile of "fuel_mmbtu_per_unit" in two decimal places?**

**Ans= 10.60 and 17.01**

In [7]:
df["fuel_mmbtu_per_unit"].describe().round(2)

count    29523.00
mean         8.49
std         10.60
min          0.00
25%          1.02
50%          5.76
75%         17.01
max        341.26
Name: fuel_mmbtu_per_unit, dtype: float64

**Question 5
What is the skewness and kurtosis for the fuel quantity burned in two decimal places**

**Ans= 15.85 and 651.37**

In [8]:
#Skewness for fuel quantity burned
df["fuel_qty_burned"].skew().round(2)

15.85

In [9]:
#Kurtosis for fuel quantity burned
df["fuel_qty_burned"].kurtosis().round(2)

651.37

**Question 6**
1. Which feature has missing values?
2. What is the total number of missing value?
3. What is the percentage of the misssing rows as afactor of the total number of rows in three decimal places?

**Ans=
1. fuel_unit
2. 180
3. 0.61

In [10]:
df.isnull() #Uses Boolean to get a True/False for missing values in each column
df.isnull().sum() #Counts the no. of missing values in each column

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [11]:
df.count() #To obtain total number of rows

record_id                       29523
utility_id_ferc1                29523
report_year                     29523
plant_name_ferc1                29523
fuel_type_code_pudl             29523
fuel_unit                       29343
fuel_qty_burned                 29523
fuel_mmbtu_per_unit             29523
fuel_cost_per_unit_burned       29523
fuel_cost_per_unit_delivered    29523
fuel_cost_per_mmbtu             29523
dtype: int64

In [12]:
missing = 180 #number of missing rows
total = 29523 #total number of rows
pct_missing = missing/total*100 #percentage of missing rows to total rows
round_pct = round(pct_missing, 3) #Using the round() function with the argument of the no. of decimal places desired i.e 3
round_pct

0.61

**Question 7.**
The feature with missing values falls under what category? Imputation technique to be used?
The feature with missing values is fuel_unit with a dtype "object".

**Ans= Categorical and Mode imputation**

In [13]:
df.dtypes #To get the type of inputs are present in each column

record_id                        object
utility_id_ferc1                  int64
report_year                       int64
plant_name_ferc1                 object
fuel_type_code_pudl              object
fuel_unit                        object
fuel_qty_burned                 float64
fuel_mmbtu_per_unit             float64
fuel_cost_per_unit_burned       float64
fuel_cost_per_unit_delivered    float64
fuel_cost_per_mmbtu             float64
dtype: object

**Question 8**
**Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?

**Ans= fuel qty burned and fuel_mmbtu_per_unit**

In [14]:
df.corr() #applying the correlation function to the entire dataframe

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

In [15]:
df.corr().sort_values(by="fuel_cost_per_unit_burned") #Using the .sort_values(by= ) method to sort with the desired attribute i.e. "fuel_cost_per_unit_burned"

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437

**Question 9
For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?**

**Ans= None of the above (-12%)**

In [16]:
#Creating a GroupBy series from the dataframe with the columns "fuel_type_code_pudl" and "report_year"
fueltype_grp2 = df.groupby(["fuel_type_code_pudl", "report_year"])
fueltype_grp2

In [17]:
#Iterating through the above GroupBy series with the fuel type "coal"
fueltype_grp2[["fuel_cost_per_unit_burned"]].mean().loc["coal"]

             fuel_cost_per_unit_burned
report_year
1994                         31.546467
1995                         30.677442
1996                         29.454299
1997                        104.897309
1998                         27.616234
1999                         38.361101
2000                        249.203055
2001                         41.622623
2002                         27.623988
2003                         94.085441
2004                         29.913239
2005                         34.281426
2006                         37.928697
2007                         39.288397
2008                         44.507292
2009                        142.805197
2010                        280.467547
2011                         52.634721
2012                         53.657789
2013                         55.093312
2014                         52.244736
2015                         49.769534
2016                         46.447385
2017                         45.983336
2018                         44.967758

In [18]:
#
fueltype_grp2[["fuel_cost_per_unit_burned"]].mean().loc["coal"].loc[[1994,1998]]
#Finding the percent change between the indicated years
fueltype_grp2[["fuel_cost_per_unit_burned"]].mean().loc["coal"].loc[[1994,1998]].pct_change()

             fuel_cost_per_unit_burned
report_year
1994                               NaN
1998                         -0.124586

**Question 10**
**Which year has the highest average fuel cost per unit delivered?

**Ans= 1997**

In [19]:
year_grp = df.groupby("report_year") #Creating a GroupBy series with the column "report_year" from dataframe "df"

In [20]:
year_grp["fuel_cost_per_unit_delivered"] #Iterating through the group with the column "fuel_cost_per_unit_delivered"
year_grp["fuel_cost_per_unit_delivered"].mean() #Calculating the average "fuel_cost_per_unit_delivered" relative to the "report_year"

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

In [21]:
year_grp["fuel_cost_per_unit_delivered"].mean().nlargest(5) #Using the .nlargest() method to identify the years with the highest averages

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64